@import "../../packages/skin/global.css";
@import "../../packages/skin/layout-grid.css";

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
}

.main .layout-grid {
    --layout-grid-columns-min: 1;
    --layout-grid-columns-xs: 2;
    --layout-grid-columns-sm: 2;
    --layout-grid-columns-md: 2;
    --layout-grid-columns-lg: 2;
    --layout-grid-columns-xl: 2;
    --layout-grid-columns-xl2: 2;
    --layout-grid-columns-xl3: 2;
    --layout-grid-columns-xl4: 2;
    --layout-grid-cell-gap: 10px;

    width: 50vw;
}

.main nav > ul > li div {
    padding: 50px 30px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}