.number-input .textbox {
    background: transparent;
}

.number-input label:first-child {
    flex-grow: 1;
    padding-left: var(--spacing-200);
}

.number-input label:first-child ~ input.textbox__control {
    flex-grow: 0;
}

.number-input--show-delete .number-input__delete {
    display: block;
}
.number-input--show-delete .number-input__decrement {
    display: none;
}

.icon-btn.number-input__delete {
    display: none;
    margin-inline-end: calc(var(--spacing-100) * -1);
    order: -1;
    padding-inline-start: var(--spacing-200);
}

.number-input--show-delete .number-input__delete {
    display: block;
}
.number-input--show-delete .number-input__decrement {
    display: none;
}

.number-input .textbox .textbox__control {
    font-weight: bold;
    text-align: center;
    width: 48px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    &[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}

.number-input .textbox .icon-btn:not(:disabled) svg {
    color: var(--color-foreground-primary);
    fill: currentColor;
}
