@import "../variables/variables";

// This file does not use variables since this component is fixed to this size and font.
// This is because this component needs specific sizes to be complient with European Union regulations.
@font-face {
    font-family: "Reddit Sans Condensed Bold";
    src: url("https://ir.ebaystatic.com/cr/v/c01/Reddit_Sans_Condensed_Bold/RedditSansCondensed-Bold.ttf");
}

.ccd {
    display: inline-flex;
    font-family: "Reddit Sans Condensed Bold", $font-family-default;
    gap: 8px;
}

.ccd__charger-icon {
    height: 57px;
    width: 42px;
}

.ccd__description-figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 39px;
}

.ccd__top-icon {
    height: 18px;
    width: 27px;
}
.ccd__body {
    align-items: center;
    border: 1px solid var(--color-foreground-primary);
    border-radius: 1.5px;
    display: flex;
    flex-direction: column;
    font-size: 0.4375rem; // 7px
    font-weight: var(--font-weight-bold);
    height: 37px;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    width: 39px;
}
